

body {
font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {

        height: 100px;
        margin-right: 1000px; 
    }
    header h1 {
        font-size: 60px; 
        font-weight: bold;
        font-family: "JetBrains Mono", sans-serif; 
        color: #333;
        margin: 0; 
    }
header {
  background: linear-gradient(to bottom, #91b7da, #ffffff);
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 

}

nav {
  background: linear-gradient(to top, #91b7da, #ffffff);
  padding: 5px;
  border-radius: 10px;
  text-align: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #343a40;
  padding: 10px 20px;
  display: block;
  border-radius: 10px;
  border-right: 2px solid #fff;
  text-align: center;
  transition: background-color 0.3s;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(to bottom, #91b7da, #ffffff);
  min-width: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

nav ul li:hover ul {
  display: block;
  background: linear-gradient(to top, #91b7da, #ffffff);
}

nav ul li a:hover {
  background: linear-gradient(to right, #91b7da, #adb5bd);
}

nav ul li ul li {
  display: block;
  border-radius: 0;
}


section {
  width: 60%;
  float: left;
  margin: 20px auto; /* Añadir margen para centrarlo horizontalmente */
            background: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            overflow-y: auto;
            max-height: calc(100vh - 150px); /* Reducir la altura para dejar espacio para el footer */
            padding: 20px;
}

aside {
  width: 20%;
  float: right;
}

section,
aside {
  text-align: left;
  margin: 6px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to top, #91b7da, #ffffff);
  border-radius: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  color: #333
}

aside h2,
section h2 {
  text-decoration: underline;
}

article {
  margin-bottom: 1px;
}

article h3 {
  margin-top: 0;
}

footer {
  background: linear-gradient(to bottom, #91b7da, #ffffff);
  padding: 5px;
  text-align: center;
  clear: both;
  color: #333;
 bottom: 0;
  position: fixed;
  width: 100%; 
}

.redes-sociales a i {
  font-size: 24px;
}

.redes-sociales a i:hover {
  color: #adb5bd;
}
